<!DOCTYPE html>
<html lang="en">
<head>
  <title> Login Page </title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">FilmsSite</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/filterFilms">Filter Films</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Home</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Price</th>
        <th>Rate</th>
        <th>Year</th>
        <th>Director</th>
      </tr>
    </thead>
    <tbody>
    <%
		int num_of_films = stoi(context["size"]);
		string film_num; 
		for (int i = 0; i < num_of_films; i++)
		{
			film_num = to_string(i);
	%>

      <tr>
        <td> <% cout << context["name" + film_num]; %> </td>
        <td> <% cout << context["length" + film_num]; %> </td>
        <td> <% cout << context["price" + film_num]; %> </td>
        <td> <% cout << context["rate" + film_num]; %> </td>
        <td> <% cout << context["year" + film_num]; %> </td>
        <td> <% cout << context["director" + film_num]; %> </td>
        <td><form action="/deleteFilm" method="post">
    	<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
    	<button type="Submit" class="btn btn-warning">Delete</button>
		</form></td>
      </tr>

	<%
		}
	%>

	</tbody>
</table>
</div>
	 </body>
</html>