<!DOCTYPE html>
<html>
  <body>
    <h2>Profile</h2>
	<form action="/home" method="get">
    	<input type="submit" value="Home" />
	</form><br>

	<form action="/logout" method="post">
    	<input type="submit" value="Logout" />
	</form><br>

	<form action="/increaseMoney" method="post">
	Charge Acount: 
	<input type = "number" name = "amount" min = "1" required>
    	<input type="submit" value="Charge" /> 
	</form><br>

	<%
		int num_of_films = stoi(context["size"]);
		string film_num;
		cout << "Name  " << "length  " << "price  " << "rate  " << "year  " << "director" << endl; 
		for (int i = 0; i < num_of_films; i++)
		{
			film_num = to_string(i);
			cout << context["name" + film_num] << " ";
			cout << context["length" + film_num] << " ";
			cout << context["price" + film_num] << " ";
			cout << context["rate" + film_num] << " ";
			cout << context["year" + film_num] << " ";
			cout << context["director" + film_num] << " ";
	%>
		<form action="/rate" method="post">
    	<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
    	<input type = "number" name = "score" min = "1" max = "10" required>
    	<button type="submit"> Rate </button>
		</form><br>

		<form action="/addComment" method="post">
		<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
		<input type = "text" name = "content" required>
		<button type="submit"> Comment </button>
		</form>

	<%
		}
	%>
		
  </body>
</html>