<!DOCTYPE html>
<html>
  <body>
    <h2>Home</h2>
	<form action="/profile" method="get">
    	<input type="submit" value="Profile" />
	</form><br>

	<form action="/logout" method="post">
    	<input type="submit" value="Logout" />
	</form><br>

	<%
		if (context["publisher"] == "true")
		{
	%>

	<form action="/addFilm" method="get">
    	<input type="submit" value="addFilm" />
	</form><br>

	<form action="/filterFilms" method="get">
		search by director: 
		<input type = "text" name = "director">
    	<input type="submit" value="Filter" />
	</form><br>

	<%
		int num_of_films = stoi(context["size"]);
		string film_num;
		cout << "Name  " << "length  " << "price  " << "rate  " << "year  " << "director"; 
		for (int i = 0; i < num_of_films; i++)
		{
			film_num = to_string(i);
			cout << context["name" + film_num] << " ";
			cout << context["length" + film_num] << " ";
			cout << context["price" + film_num] << " ";
			cout << context["rate" + film_num] << " ";
			cout << context["year" + film_num] << " ";
			cout << context["director" + film_num] << " ";
	%>
		<form action="/deleteFilm" method="post">
    	<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
    	<button type="submit"> Delete </button>
		</form><br>
	<%
		}
	}
	else
	{
		int num_of_films = stoi(context["size"]);
		string film_num;
		cout << "Name  " << "length  " << "price  " << "rate  " << "year  " << "director" << "/n"; 
		for (int i = 0; i < num_of_films; i++)
		{
			film_num = to_string(i);
			cout << context["name" + film_num] << " ";
			cout << context["length" + film_num] << " ";
			cout << context["price" + film_num] << " ";
			cout << context["rate" + film_num] << " ";
			cout << context["year" + film_num] << " ";
			cout << context["director" + film_num] << " ";
	%>
		<form action="/buy" method="post">
    	<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
    	<button type="submit"> Buy </button>
		</form><br>
		<form action="/showDetails" method="get">
    	<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
    	<button type="submit"> Details </button>
		</form><br>
	<%
		}
	}
	%>
		
  </body>
</html>