<<!DOCTYPE html>
<html lang="en">
<head>
  <title> Login Page </title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
  <body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">FilmsSite</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/profile">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/home"><span class="glyphicon glyphicon-user"></span> Home</a></li>
      <li><a href="/logout" metho><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <h3>Charge Acount:</h3>
	<form class="form-horizontal" action="/increaseMoney" method="post">
	<div class="form-group">
      <label class="control-label col-sm-2" for="Amount">Amount:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="Amount" placeholder="Enter Amount" name="amount"min = "1" required>
      </div>
    </div>

	<div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-info">Add</button>
      </div>
    </div>
	</form>
</div>

<div class="container">
  <h2>Your Films:</h2>   
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Price</th>
        <th>Rate</th>
        <th>Year</th>
        <th>Director</th>
      </tr>
    </thead>
    <tbody>
    <%
		int num_of_films = stoi(context["size"]);
		string film_num; 
		for (int i = 0; i < num_of_films; i++)
		{
			film_num = to_string(i);
	%>
      <tr>
        <td> <% cout << context["name" + film_num]; %> </td>
        <td> <% cout << context["length" + film_num]; %> </td>
        <td> <% cout << context["price" + film_num]; %> </td>
        <td> <% cout << context["rate" + film_num]; %> </td>
        <td> <% cout << context["year" + film_num]; %> </td>
        <td> <% cout << context["director" + film_num]; %> </td>
    	<td><form action="/rate" method="post">
    	<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
    	<input type = "number" name = "score" min = "1" max = "10" required>
    	<button type="submit" class="btn btn-basic"> Rate </button>
		</form></td>
		<td><form action="/addComment" method="post">
		<input type="hidden" name="film_id" value='<% cout << context["id" + film_num]; %>'/>
		<input type = "text" name = "content" required>
		<button type="submit" class="btn btn-basic"> Comment </button>
		</form></td>
    </tr>
	<%
		}
	%>
  </tbody>
  </table>
</div>
	</body>
</html>